.dadosgit{
    align-items: center;
    width: 60%;
    margin: auto;
}

h1{
    text-align: center;
}
h3{
    text-align: center;

}
.logo{
    width: 50px;
}

.container{
    align-items: center;
    width: 60%;
    margin: auto;
}
